/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

 /* see: https://docusaurus.io/zh-CN/docs/next/styling-layout#styling-your-site-with-infima */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #e27b13;
  --ifm-color-primary-dark: #cb6f11;
  --ifm-color-primary-darker: #c06910;
  --ifm-color-primary-darkest: #9e560d;
  --ifm-color-primary-light: #ec8721;
  --ifm-color-primary-lighter: #ed8d2c;
  --ifm-color-primary-lightest: #f0a04e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #d25908;
  --ifm-color-primary-dark: #bd5007;
  --ifm-color-primary-darker: #b34c07;
  --ifm-color-primary-darkest: #933e06;
  --ifm-color-primary-light: #e76209;
  --ifm-color-primary-lighter: #f26609;
  --ifm-color-primary-lightest: #f77925;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
