; 以下配置可通过 npm config list 查看

; 设置同一个前缀/目录下包的源
; 下面的设置将前缀为@babel的包源指向了华为源
; 如果@babel前缀的包内部依赖了其他非@babel前缀的包，那么这些非@babel的包将不适用该规则
; @babel:registry=https://mirrors.huaweicloud.com/repository/npm/

; 指定项目下所有包的源
; 如果上面的前缀规则没有匹配到，则使用这里的源
registry=https://registry.npmjs.org
; registry=https://registry.npmmirror.com
